{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-md-4 col-xs-12 col-md-offset-4">
  <div class="panel panel-default">
      <div class="">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">用户密码修改</h4>
      </div>
      <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          {% for field in cpform %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          <p class='text-danger'>{{ field.errors.as_text }}</p>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <span class='pull-left text-danger'>{{ cpform.non_field_errors }}</span>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <input type="submit"  class="btn btn-primary pull-right" value="确认">
        </div>
      </form>
    </div>
</div>

{% endblock %}


{% block js_extends %}

{% endblock %}