{% extends "base_right.html" %}
{% load staticfiles %}

{% block css_extends %}

<link rel="stylesheet" type="text/css" href="{% static 'sub_detail/baguetteBox.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sub_detail/gallery-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sub_detail/filesinput.min.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <h2>筛选查询</h2>
                <form action="{% url 'file' %}" class="" method="POST" id="">
                    {% csrf_token %}  
                    {% for field in inquiremediaform %}
                        <div class="col-md-2">{{ field }}
                        <p class='text-danger'>{{ field.errors.as_text }}</p></div>
                    {% endfor %}
                    <div class="c-datepicker-date-editor J-datepicker-range-day" id="inquire-date">
                        <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                        <input placeholder="开始日期" name="start_date" class="c-datepicker-data-input only-date" value="">
                        <span class="c-datepicker-range-separator">-</span>
                        <input placeholder="结束日期" name="end_date" class="c-datepicker-data-input only-date" value="">
                    </div>
                    <input type="submit" class="btn btn-primary" value="查询">
                </form>
                <div class="clearfix"></div>
            </div>
            <div>
                {% if files %}
                    <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">文件名称</th>
                        <th class="column-title">所属一级类</th>
                        <th class="column-title">所属二级类</th>
                        <th class="column-title">主题类型</th>
                        <th class="column-title">上传者</th>
                        <th class="column-title no-link last"><span class="nobr">创健时间</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for file in files %}
                      <tr class="even pointer">
                        <td class=" "><a href="{{ file.file.url }}">{{file.get_name}}</a></td>
                        <td class=" ">{{ file.file_sub.subject_level_one }}</td>
                        <td class=" ">{{ file.file_sub.subject_level_two }}</td>
                        <td class=" ">{{ file.file_sub.subject_type }}</td>
                        <td class=" ">{{ file.file_sub.author }}</td>
                        <td class=" ">{{ file.created_time|date:'Y-m-d' }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <span class="none-span">暂无文件~~</span>
                {% endif %}
            </div> 

            <!--分页列表-->
            <div class="paginator text-center "> 
                <ul class="pagination" id='home-paginator'>
                    <!--判断是否有上一页-->
                    {% if page_of_files.has_previous %}    
                        <li>
                          <a href="?page={{ page_of_files.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                    {% else %}
                        <li>
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}
                    <!--分页页数循环-->
                    {% for page_num in page_range %}
                        <!--判断是否是当前页-->    
                        {% if page_num == page_of_files.number %}
                            <li class="active"><a href="?page={{page_num}}">{{ page_num}}</a></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li ><a>{{ page_num}}</a></li>
                            {% else %}
                                <li ><a href="?page={{page_num}}">{{ page_num}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <!--判断是否有下一页-->
                    {% if page_of_files.has_next %}
                        <li>
                          <a href="?page={{ page_of_files.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                    {% else %}
                        <li>
                            <span aria-hidden="true">&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </div> 
            <div class='text-center'>共有{{page_of_files.paginator.count}}个图片,当前第{{page_of_files.number}}页,共{{page_of_files.paginator.num_pages}}页</div>

        </div>
    </div>
</div>
{% endblock %}

{% block js_extends %}
<script type="text/javascript" src="{% static 'sub_detail/baguetteBox.min.js' %}"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>

<script type="text/javascript" src="{% static 'sub_detail/filesinput.min.js' %}"></script>

<!--查询下拉表单二级联动-->
<script type="text/javascript">
  $("#inquire_level_one").append("<option value=0 selected='selected'> 一级类 </option>");
  $("#inquire_level_two").empty();
  $("#inquire_level_two").append("<option value=0> 二级类 </option>");
  $("#inquire_subject_type").append("<option value=0 selected='selected'> 类型 </option>");
  $("#inquire_sub_author").append("<option value=0 selected='selected'> 上传者 </option>");

  $("#inquire_level_one").change(function(){
    var sbo_id = $(this).val();
    $.ajax({
      url:"{% url 'change_level_one' %}",
      type:'POST',
      data: {'sbo_id':sbo_id},
      cache: false,
      success:function(data){
        $("#inquire_level_two").empty();
        $("#inquire_level_two").append("<option value=0> 二级类 </option>");
        $.each(data['choice_two'],function(i,item){
　　　　  $("#inquire_level_two").append("<option value="+item[0]+">"+ item[1] +"</option>");
　　　　});
      },
      error:function(xhr){
        console.log(xhr);
      },
    });
  });
</script>

<script type="text/javascript">
      $(function(){
        var DATAPICKERAPI = {
          // 默认input显示当前月,自己获取后填充
          activeMonthRange: function () {
            return {
              begin: moment().set({ 'date': 1, 'hour': 0, 'minute': 0, 'second': 0 }).format('YYYY-MM-DD HH:mm:ss'),
              end: moment().set({ 'hour': 23, 'minute': 59, 'second': 59 }).format('YYYY-MM-DD HH:mm:ss')
            }
          },
          shortcutMonth: function () {
            // 当月
            var nowDay = moment().get('date');
            var prevMonthFirstDay = moment().subtract(1, 'months').set({ 'date': 1 });
            var prevMonthDay = moment().diff(prevMonthFirstDay, 'days');
            return {
              now: '-' + nowDay + ',0',
              prev: '-' + prevMonthDay + ',-' + nowDay
            }
          },
          // 注意为函数：快捷选项option:只能同一个月份内的
          rangeMonthShortcutOption1: function () {
            var result = DATAPICKERAPI.shortcutMonth();
            return [{
              name: '昨天',
              day: '-1,-1',
              time: '00:00:00,23:59:59'
            }, {
              name: '这一月',
              day: result.now,
              time: '00:00:00,'
            }, {
              name: '上一月',
              day: result.prev,
              time: '00:00:00,23:59:59'
            }];
          },
          // 快捷选项option
          rangeShortcutOption1: [{
            name: '最近一周',
            day: '-7,0'
          }, {
            name: '最近一个月',
            day: '-30,0'
          }, {
            name: '最近三个月',
            day: '-90, 0'
          }],
          singleShortcutOptions1: [{
            name: '今天',
            day: '0'
          }, {
            name: '昨天',
            day: '-1',
            time: '00:00:00'
          }, {
            name: '一周前',
            day: '-7'
          }]
        };
          //十分秒年月日单个
          $('.J-datepicker').datePicker({
            hasShortcut:true,
            min:'2018-01-01 04:00:00',
            max:'2019-04-29 20:59:59',
            shortcutOptions:[{
              name: '今天',
              day: '0'
            }, {
              name: '昨天',
              day: '-1',
              time: '00:00:00'
            }, {
              name: '一周前',
              day: '-7'
            }],
            hide:function(){
              console.info(this)
            }
          });
          
          //年月日单个
          $('.J-datepicker-day').datePicker({
            hasShortcut: true,
            format:'YYYY-MM-DD',
            shortcutOptions: [{
              name: '今天',
              day: '0'
            }, {
              name: '昨天',
              day: '-1'
            }, {
              name: '一周前',
              day: '-7'
            }]
          });
          
          //年月日范围
          $('.J-datepicker-range-day').datePicker({
            hasShortcut: true,
            format: 'YYYY-MM-DD',
            isRange: true,
            shortcutOptions: DATAPICKERAPI.rangeShortcutOption1
          });

          //十分年月日单个
          $('.J-datepickerTime-single').datePicker({
            format: 'YYYY-MM-DD HH:mm'
          });
          
          //十分年月日范围
          $('.J-datepickerTime-range').datePicker({
            format: 'YYYY-MM-DD HH:mm',
            isRange: true
          });
          
          //十分秒年月日范围，包含最大最小值
          $('.J-datepicker-range').datePicker({
            hasShortcut: true,
            min: '2018-01-01 06:00:00',
            max: '2019-04-29 20:59:59',
            isRange: true,
            shortcutOptions: [{
              name: '昨天',
              day: '-1,-1',
              time: '00:00:00,23:59:59'
            },{
              name: '最近一周',
              day: '-7,0',
              time:'00:00:00,'
            }, {
              name: '最近一个月',
              day: '-30,0',
              time: '00:00:00,'
            }, {
              name: '最近三个月',
              day: '-90, 0',
              time: '00:00:00,'
            }]
          });
          //十分秒年月日范围，限制只能选择同一月，比如2018-10-01到2018-10-30
          $('.J-datepicker-range-betweenMonth').datePicker({
            isRange: true,
            between:'month',
            hasShortcut: true,
            shortcutOptions: DATAPICKERAPI.rangeMonthShortcutOption1()
          });
          
          //十分秒年月日范围，限制开始结束相隔天数小于30天
          $('.J-datepicker-range-between30').datePicker({
            isRange: true,
            between: 30
          });
          
          //年月单个
          $('.J-yearMonthPicker-single').datePicker({
            format: 'YYYY-MM',
            min: '2018-01',
            max: '2019-04'
          });
          
          //选择年
          $('.J-yearPicker-single').datePicker({
            format: 'YYYY',
            min: '2018',
            max: '2020'
          });  
      });
    </script>

{% endblock %}