{% extends "base_right.html" %}
{% load staticfiles %}

{% block css_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'sub_detail/fileinput.min.css' %}">
<!-- 时间选择表单 -->
<link href="{% static 'datepicker/datepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">

<!--主题展示-->
<div class="col-sm-9 blog-main">
    <div class="x_panel">
        <div class="x_title">
           <h2>筛选查询<small><button href="" id="inquire_button">点击查询</button></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
                <form action="{% url 'home' %}" class="" method="POST" id="inquire_form">
                  {% csrf_token %}
                  {% for field in inquireform %}
                    <div class="col-md-3">{{ field }}
                    <p class='text-danger'>{{ field.errors.as_text }}</p></div>
                  {% endfor %}
                  <div class="c-datepicker-date-editor J-datepicker-range-day" id="inquire-date">
                    <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                    <input placeholder="开始日期" name="start_date" class="c-datepicker-data-input only-date" value="">
                    <span class="c-datepicker-range-separator">-</span>
                    <input placeholder="结束日期" name="end_date" class="c-datepicker-data-input only-date" value="">
                  </div>
                  <input type="submit" class="btn btn-primary pull-right" value="查询">
                  <hr>
                </form>
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">主题名称</th>
                        <th class="column-title">所属一级类</th>
                        <th class="column-title">所属二级类</th>
                        <th class="column-title">主题类型</th>
                        <th class="column-title">上传者</th>
                        <th class="column-title">创健时间</th>
                        <th class="column-title">图片</th>
                        <th class="column-title no-link last"><span class="nobr">文件</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for subject in subjects %}
                      <tr class="even pointer">
                        <td class=" "><a href="{% url 'sub_detail' subject.pk %}"><strong>{{subject.title}}</strong></a></td>
                        <td class=" ">{{subject.subject_level_one}}</td>
                        <td class=" ">{{subject.subject_level_two}}</td>
                        <td class=" ">{{subject.subject_type}}</td>
                        <td class=" ">{{subject.author}}</td>
                        <td class=" ">{{subject.created_time|date:'Y-m-d'}}</td>
                        <td class="a-right a-right ">
                          {% if subject.image_count %}
                          <span class="glyphicon glyphicon-ok" ></span>
                          {% else %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% endif %}
                        </td>
                        <td class=" last">
                          {% if subject.file_count %}
                          <span class="glyphicon glyphicon-ok"></span>
                          {% else %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--分页列表-->
                <div class='pull-left'>共有{{page_of_subjects.paginator.count}}个主题,当前第{{page_of_subjects.number}}页,共{{page_of_subjects.paginator.num_pages}}页</div>
                <div class="paginator pull-right"> 
                    <ul class="pagination" id='home-paginator'>
                        <!--判断是否有上一页-->
                        {% if page_of_subjects.has_previous %}    
                            <li>
                              <a href="?page={{ page_of_subjects.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                        {% else %}
                            <li>
                                <span aria-hidden="true">&laquo;</span>
                            </li>
                        {% endif %}
                        <!--分页页数循环-->
                        {% for page_num in page_range %}
                            <!--判断是否是当前页-->    
                            {% if page_num == page_of_subjects.number %}
                                <li class="active"><a href="?page={{page_num}}">{{ page_num}}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li ><a>{{ page_num}}</a></li>
                                {% else %}
                                    <li ><a href="?page={{page_num}}">{{ page_num}}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!--判断是否有下一页-->
                        {% if page_of_subjects.has_next %}
                            <li>
                              <a href="?page={{ page_of_subjects.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                        {% else %}
                            <li>
                                <span aria-hidden="true">&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </div> 

            </div>     
        </div>
    </div>
</div>
<!--主题展示结束-->

<!--右侧1-->
<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>通知公告<small>更多</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="dashboard-widget-content" style="padding-top:2px">

        <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-success btn-block" type="button">添加</button>
        <!-- 提交公告模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  请输入想要发布的公告
                </h4>
              </div>
              <form action="{% url 'update_notice' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{ noticeform }} 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <input type="submit" class="btn btn-primary pull-right" value="提交">
                </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal -->
        </div>
        
        <div class="box1">
          <div class="box1-container">
            <!--for notice in notices|slice:":5"-->
            {% for notice in notices %}
              <a href="#">
                <div class="mail_list">
                  <div class="left">
                    <i class="fa fa-user"></i> <i class="fa fa-comment-o"></i>
                  </div>
                  <div class="right">
                    <h3>{{ notice.author }}<small>{{ notice.created_time }}</small></h3>
                    <div id='notice-content'>{{ notice.text|safe }}</div>
                  </div>
                </div>
              </a>
            {% endfor %} 
          </div>  
        </div>    

      </div>
    </div>
  </div>
</div>
<!--右侧1结束-->

<!--主题录入表单-->
<div class="col-sm-9 blog-main">
    <div class="x_panel">
        <div class="x_title">
            <h2>主题录入 <small>请录入</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
                <form class='form-inline' id="subform" enctype="multipart/form-data" action="{% url 'update_sub' %}" method="POST" style="overflow: hidden">
                  {% csrf_token %}
                    {% for field in subform %}
                    <div class="form-{{ field.name }}">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                      <p class='text-danger'>{{ field.errors.as_text }}</p>
                    </div>
                    {% endfor %}
                  <div class='form-submit'><input type="submit" class="btn btn-primary pull-right" value="提交"></div>
                </form>
            </div>     
        </div>
    </div>
</div>
<!--主题录入结束-->

<!--右侧2-->
<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>文件精神<small><a href="{% url 'supfile' %}">更多</a></small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="dashboard-widget-content">
        
        <div class="box1">
          <div class="box1-container">
            <ul class="list-unstyled timeline widget">
              {% for supfile in supfiles %}
              <li>
                <div class="block">
                  <div class="block_content">
                    <div class="byline">
                      <span>{{ supfile.created_time|date:'Y-m-d' }}</span>
                    </div>
                    <h2 class="title">
                      <a href="{{ supfile.file.url }}">{{ supfile.get_name }}</a>
                    </h2>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--右侧2结束-->

</div>
{% endblock %}

{% block js_extends %}

<!--富文本框JS扩展-->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<!--上传-->
<script type="text/javascript" src="{% static 'sub_detail/fileinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sub_detail/fileinput_locale_zh.js' %}"></script>
<!--上传文件-->
<script>
   $("#id_file").fileinput({
        'allowedFileExtensions' : ['doc','docx','xls','xlsx','ppt','pptx','pdf'],
        maxFileSize: 60000,
        maxFilesNum: 10,
        showUpload: false,
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>
<!--上传图片-->
<script>
   $("#id_image").fileinput({
        'allowedFileExtensions' : ['jpg','jpeg','png','gif'],
        maxFileSize: 6000,
        maxFilesNum: 10,
        showUpload: false,
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
  </script>

<!--查询下拉表单二级联动-->
<script type="text/javascript">
  $("#inquire_level_one").append("<option value=0 selected='selected'> 一级类 </option>");
  $("#inquire_level_two").empty();
  $("#inquire_level_two").append("<option value=0> 二级类 </option>");
  $("#inquire_subject_type").append("<option value=0 selected='selected'> 类型 </option>");
  $("#inquire_sub_author").append("<option value=0 selected='selected'> 上传者 </option>");

  $("#inquire_level_one").change(function(){
    var sbo_id = $(this).val();
    $.ajax({
      url:"{% url 'change_level_one' %}",
      type:'POST',
      data: {'sbo_id':sbo_id},
      cache: false,
      success:function(data){
        $("#inquire_level_two").empty();
        $("#inquire_level_two").append("<option value=0> 二级类 </option>");
        $.each(data['choice_two'],function(i,item){
　　　　  $("#inquire_level_two").append("<option value="+item[0]+">"+ item[1] +"</option>");
　　　　});
      },
      error:function(xhr){
        console.log(xhr);
      },
    });
  });
</script>

<!--提交主题下拉表单二级联动-->
<script type="text/javascript">
  $("#id_level_one").append("<option value=0 selected='selected'> 请选择一级类 </option>");
  $("#id_level_two").empty();
  $("#id_level_two").append("<option value=0> 请选择二级类 </option>");

  $("#id_level_one").change(function(){
    var sbo_id = $(this).val();
    $.ajax({
      url:"{% url 'change_level_one' %}",
      type:'POST',
      data: {'sbo_id':sbo_id},
      cache: false,
      success:function(data){
        $("#id_level_two").empty();
        $("#id_level_two").append("<option value=0> 请选择二级类 </option>");
        $.each(data['choice_two'],function(i,item){
　　　　  $("#id_level_two").append("<option value="+item[0]+">"+ item[1] +"</option>");
　　　　});
      },
      error:function(xhr){
        console.log(xhr);
      },
    });
  });
</script>


<script type="text/javascript">
      $(function(){
        var DATAPICKERAPI = {
          // 默认input显示当前月,自己获取后填充
          activeMonthRange: function () {
            return {
              begin: moment().set({ 'date': 1, 'hour': 0, 'minute': 0, 'second': 0 }).format('YYYY-MM-DD HH:mm:ss'),
              end: moment().set({ 'hour': 23, 'minute': 59, 'second': 59 }).format('YYYY-MM-DD HH:mm:ss')
            }
          },
          shortcutMonth: function () {
            // 当月
            var nowDay = moment().get('date');
            var prevMonthFirstDay = moment().subtract(1, 'months').set({ 'date': 1 });
            var prevMonthDay = moment().diff(prevMonthFirstDay, 'days');
            return {
              now: '-' + nowDay + ',0',
              prev: '-' + prevMonthDay + ',-' + nowDay
            }
          },
          // 注意为函数：快捷选项option:只能同一个月份内的
          rangeMonthShortcutOption1: function () {
            var result = DATAPICKERAPI.shortcutMonth();
            return [{
              name: '昨天',
              day: '-1,-1',
              time: '00:00:00,23:59:59'
            }, {
              name: '这一月',
              day: result.now,
              time: '00:00:00,'
            }, {
              name: '上一月',
              day: result.prev,
              time: '00:00:00,23:59:59'
            }];
          },
          // 快捷选项option
          rangeShortcutOption1: [{
            name: '最近一周',
            day: '-7,0'
          }, {
            name: '最近一个月',
            day: '-30,0'
          }, {
            name: '最近三个月',
            day: '-90, 0'
          }],
          singleShortcutOptions1: [{
            name: '今天',
            day: '0'
          }, {
            name: '昨天',
            day: '-1',
            time: '00:00:00'
          }, {
            name: '一周前',
            day: '-7'
          }]
        };
          //十分秒年月日单个
          $('.J-datepicker').datePicker({
            hasShortcut:true,
            min:'2018-01-01 04:00:00',
            max:'2019-04-29 20:59:59',
            shortcutOptions:[{
              name: '今天',
              day: '0'
            }, {
              name: '昨天',
              day: '-1',
              time: '00:00:00'
            }, {
              name: '一周前',
              day: '-7'
            }],
            hide:function(){
              console.info(this)
            }
          });
          
          //年月日单个
          $('.J-datepicker-day').datePicker({
            hasShortcut: true,
            format:'YYYY-MM-DD',
            shortcutOptions: [{
              name: '今天',
              day: '0'
            }, {
              name: '昨天',
              day: '-1'
            }, {
              name: '一周前',
              day: '-7'
            }]
          });
          
          //年月日范围
          $('.J-datepicker-range-day').datePicker({
            hasShortcut: true,
            format: 'YYYY-MM-DD',
            isRange: true,
            shortcutOptions: DATAPICKERAPI.rangeShortcutOption1
          });

          //十分年月日单个
          $('.J-datepickerTime-single').datePicker({
            format: 'YYYY-MM-DD HH:mm'
          });
          
          //十分年月日范围
          $('.J-datepickerTime-range').datePicker({
            format: 'YYYY-MM-DD HH:mm',
            isRange: true
          });
          
          //十分秒年月日范围，包含最大最小值
          $('.J-datepicker-range').datePicker({
            hasShortcut: true,
            min: '2018-01-01 06:00:00',
            max: '2019-04-29 20:59:59',
            isRange: true,
            shortcutOptions: [{
              name: '昨天',
              day: '-1,-1',
              time: '00:00:00,23:59:59'
            },{
              name: '最近一周',
              day: '-7,0',
              time:'00:00:00,'
            }, {
              name: '最近一个月',
              day: '-30,0',
              time: '00:00:00,'
            }, {
              name: '最近三个月',
              day: '-90, 0',
              time: '00:00:00,'
            }]
          });
          //十分秒年月日范围，限制只能选择同一月，比如2018-10-01到2018-10-30
          $('.J-datepicker-range-betweenMonth').datePicker({
            isRange: true,
            between:'month',
            hasShortcut: true,
            shortcutOptions: DATAPICKERAPI.rangeMonthShortcutOption1()
          });
          
          //十分秒年月日范围，限制开始结束相隔天数小于30天
          $('.J-datepicker-range-between30').datePicker({
            isRange: true,
            between: 30
          });
          
          //年月单个
          $('.J-yearMonthPicker-single').datePicker({
            format: 'YYYY-MM',
            min: '2018-01',
            max: '2019-04'
          });
          
          //选择年
          $('.J-yearPicker-single').datePicker({
            format: 'YYYY',
            min: '2018',
            max: '2020'
          });
          
          
      });
    </script>

<!--查询表单隐藏与显示-->
<script>
  $(document).ready(function(){
    $("#inquire_form").hide();
    $("#inquire_button").click(function(){
    $("#inquire_form").toggle(500);
    });
  });
</script>

{% endblock %}



